<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("header.ejs")%>
</head>

<body id="page-top">
  <!-- Page Wrapper -->

  <div id="wrapper">
    <!-- Sidebar -->
    <%- include("sidebar.ejs")%>
      <!-- End of Sidebar -->

      <!-- Topbar -->
      <%- include("topbar.ejs")%>
      <!-- End of Topbar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper">
          <div class="content">
            <%- include("./access/access.ejs")%>
          </div>    
          
      </div>
       <!-- End of Content Wrapper -->
  
  </div>


  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript-->
  <%- include("./scripts.ejs")%>
    <%- include("./access/accessscript.ejs")%>
</body>

</html>
