<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./components/header.ejs")%>
  </head>

  <body id="page-top">
    <!-- Page Wrapper -->

    <div id="wrapper">
      <!-- Sidebar -->
      <%- include("./components/sidebar.ejs")%>
      <!-- End of Sidebar -->

      <!-- Topbar -->
      <%- include("./components/topbar.ejs")%>
      <!-- End of Topbar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper">
        <div class="content">
          <%- include("./page/employee/employee.ejs")%>
        </div>
      </div>
      <%-
      include("./components/footer.ejs")%>
      <!-- End of Content Wrapper -->
    </div>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <%- include("./components/scripts.ejs")%> <%-
    include("./components/topbarscript.ejs")%> <%-
    include("./page/employee/employeescript.ejs")%>
  </body>
</html>
