<!DOCTYPE html>
<html lang="en">

<head>
<%- include("eportalheader.ejs")%>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <%- include("eportalsidebar.ejs")%>
        <!-- End of Sidebar -->
          <!-- Topbar -->
          <%- include("eportaltopbar.ejs")%>
          <!-- End of Topbar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper">

            <!-- Main Content -->
            <div id="content">
                <!-- Begin Page Content -->
                <%- include("./eportalindex/eportalindex.ejs")%>
            </div>

        </div>

        
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded top-round-button" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <%- include("./scripts.ejs")%>
    <%- include("./eportalindex/eportalindexscript.ejs")%>
</body>

</html>