<!DOCTYPE html>
<html lang="en">

<head>
<%- include("eportalheader.ejs")%>

</head>

<body id="page-top">

    <div id="wrapper">

        <%- include("eportalsidebar.ejs")%>
      
        <div id="content-wrapper" class="d-flex flex-column">

           
            <div id="content">

                <%- include("eportaltopbar.ejs")%>
       

                <%- include("./eportalsalary/eportalsalary.ejs")%>
             

            </div>


        </div>
    

    </div>

    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <%- include("scripts.ejs")%>
    <%- include("./eportalsalary/eportalsalaryscript.ejs")%>
</body>

</html>