<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./components/eportalheader.ejs")%>
  </head>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Sidebar -->
      <%- include("./components/eportalsidebar.ejs")%>
      <!-- End of Sidebar -->
      <!-- Topbar -->
      <%- include("./components/eportaltopbar.ejs")%>
      <!-- End of Topbar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper">
        <!-- Main Content -->
        <div class="content">
          <!-- Begin Page Content -->
          <%- include("./page/eportalindex/eportalindex.ejs")%>
        </div>
      </div>
      </div>
      
    </div>

    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded top-round-button" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <%- include("./components/scripts.ejs")%> <%-
    include("./components/eportaltopbarscript.ejs")%> <%-
    include("./page/eportalindex/eportalindexscript.ejs")%>
  </body>
</html>
