<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("header.ejs")%>
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <%- include("sidebar.ejs")%>
            <!-- End of Sidebar -->

            <!-- Content Wrapper -->
            <div id="content-wrapper">
                <!-- Topbar -->
                <%- include("topbar.ejs")%>
                    <!-- End of Topbar -->

                    <!-- Main Content -->
                    <div id="content">
                        <%- include("./payslip/payslip.ejs")%>
                            <!-- /.container-fluid -->
                    </div>
                    <!-- End of Main Content -->

            </div>
            <!-- End of Content Wrapper -->

            <!-- Footer -->
            <!-- End of Footer -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <%- include("scripts.ejs")%>
    <%- include("./topbarscript.ejs")%>
        <%- include("./payslip/payslipscript.ejs")%>
</body>

</html>