<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./components/teamleadheader.ejs")%>
  </head>

  <body id="page-top">
    <!-- Page Wrapper -->

    <div id="wrapper">
      <!-- Sidebar -->
      <%- include("./components/teamleadsidebar.ejs")%>
      <!-- End of Sidebar -->
      <!-- Topbar -->
      <%- include("./components/teamleadtopbar.ejs")%>
      <!-- End of Topbar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper">
        <div class="content">
          <%- include("./page/teamleadtotalholiday/teamleadtotalholiday.ejs")%>
        </div>
      </div>
      </div>
      
      <!-- End of Content Wrapper -->
    </div>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <%- include("./components/scripts.ejs")%> <%-
    include("./components/teamleadtopbarscript.ejs")%> <%-
    include("./page/teamleadtotalholiday/teamleadtotalholidayscript.ejs")%>
  </body>
</html>
