<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("teamleadheader.ejs")%>
</head>

<body id="page-top">
  <!-- Page Wrapper -->

  <div id="wrapper">
    <!-- Sidebar -->
    <%- include("teamleadsidebar.ejs")%>
      <!-- End of Sidebar -->
      <!-- Topbar -->
      <%- include("teamleadtopbar.ejs")%>
        <!-- End of Topbar -->
  
        <!-- Content Wrapper -->
        <div id="content-wrapper">
          <div class="content">
              <%- include("./teamleadindex/teamleadindex.ejs")%>
          </div>
        </div>
        <%- include("footer.ejs")%>
        <!-- End of Content Wrapper -->
  
  </div>


  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript-->
  <%- include("./scripts.ejs")%>
  <%- include("./teamleadtopbarscript.ejs")%>
    <%- include("./teamleadindex/teamleadindexscript.ejs")%>
</body>

</html>
