<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../components/eportalheader.ejs")%>
  </head>

  <body id="page-top">
    <div id="wrapper">
      <%- include("../components/eportalsidebar.ejs")%> <%-
      include("../components/eportaltopbar.ejs")%>

      <div id="content-wrapper">
        <div class="content">
          <%- include("../page/eportalsalary/eportalsalary.ejs")%>
        </div>
      </div>
    </div>

    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <%- include("../components/scripts.ejs")%> <%-
    include("../components/eportaltopbarscript.ejs")%> <%-
    include("../page/eportalsalary/eportalsalaryscript.ejs")%>
  </body>
</html>
