<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../components/ojtheader.ejs")%>
  </head>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Sidebar -->
      <%- include("../components/ojtsidebar.ejs")%>
      <!-- End of Sidebar -->

      <!-- Topbar -->
      <%- include("../components/ojttopbar.ejs")%>
      <!-- End of Topbar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper">
        <!-- Main Content -->
        <div class="content">
          <!-- Begin Page Content -->
          <%- include("../page/ojtprofile/ojtprofile.ejs")%>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <!-- End of Footer -->
      </div>
      </div>
      
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <%- include("../components/ojtglobalscript.ejs")%> <%-
    include("../page/ojtprofile/ojtprofilescript.ejs")%>
  </body>
</html>
